/*Sans-Serif is the current font */
/* Ariel Font */
/*h1, h2, h3, h4, h5, h6 {
    font-family: 'Ariel';
}
p, div {
    font-family: 'Ariel Narrow';
}*/

#logo {
    max-width: 500px;
}

.paragraphPicture {
    max-width: 300px;
    min-width: 250px;
}

hr {
    color: #000;
    background-color: #000;
}

/* Adjust left and right margin of containers */
.container-fluid {
	margin-left: 3em;
	margin-right: 3em;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.background {
        /* Opaque background with color tint */
      background: center repeat, 
    linear-gradient(
      rgba(238, 238, 238, 0.6), 
      rgba(238, 238, 238, 0.3)
    ),
    url('http://www.hdwallpapers.in/download/empire_state_city-1920x1080.jpg');

    
}
.well h1,h2,h3,h4,h5,p{
    color: #000;
}


/* callout-dark */
.callout-dark {
    padding: 30px;
    color: #fff;
    background:linear-gradient(
      rgba(0, 0, 0, 0.65), 
      rgba(0, 0, 0, 0.65)
    );
    border-radius: 20px;
    
}

.callout-dark h1,
h2,
h3,
h4 {
    font-weight: 300;
    line-height: 1.4;
}

.callout-dark p {
    color: #000;
    font-size: 17px;
}
.callout-red {
    padding: 30px;
    color: #fff;
    background:linear-gradient(
      rgba(218, 0, 0, 0.65), 
      rgba(218, 0, 0, 0.65)
    );
    border-radius: 20px;
}

.callout-red h1,
h2,
h3,
h4 {
    font-weight: 300;
    line-height: 1.4;
}

.callout-blue {
    padding: 30px;
    color: #fff;
    background:linear-gradient(
      rgba(0, 32, 96, 0.65), 
      rgba(0, 32, 96, 0.65)
    );
    border-radius: 20px;
}

.callout-blue h1,
h2,
h3,
h4 {
    font-weight: 300;
    line-height: 1.4;
}

.callout-block {
    background-color: #F5F3F4;
    border-left: 5px solid #a94545;
    border-right: 5px solid #a94545;
    padding: 15px;
}

.callout-block h1,
.callout-block h2,
.callout-block h3,
.callout-block h4 {
    font-weight: 300;
    line-height: 1.4;
}

