
<div id = "firstCar" class="col-lg-6 col-xs-12 fill pagination-centered">
	<h2> {{carMode}} 1 </h2>
  
  <!-- Dropdown selection menus -->
	<div class="col-lg-4 col-xs-4">
    <form>
        <label>Car Year</label>
        <select class="form-control">
            <option></option>
            <option value="1995">1995</option>
            <option value="1996">1996</option>
            <option value="1997">1997</option>
            <option value="1998">1998</option>
            <option value="1999">1999</option>
            <option value="2000">2000</option>
            <option value="2001">2001</option>
            <option value="2002">2002</option>
            <option value="2003">2003</option>
            <option value="2004">2004</option>
            <option value="2005">2005</option>
            <option value="2006">2006</option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
        </select>
    </form>

   	<form>
   		<label>Car Manufacturer</label>
   		<select class="form-control">
   			<option></option>
   		</select>
   	</form>

   	<form>
   		<label>Car Model</label>
   		<select class="form-control">
   			<option></option>
   		</select>
   	</form>

   	<form>
   		<label>Car Vehicle</label>
   		<select class="form-control">
   			<option></option>
   		</select>
   	</form>

    <form>
   		<label>Engine Size</label>
   		<select class="form-control">
   			<option></option>
   		</select>
   	</form>  	

    <form>
   		<label>Cylinders</label>
   		<select class="form-control">
   			<option></option>
   		</select>
   	</form>

    <form>
   		<label>Transmission</label>
   		<select class="form-control">
   			<option></option>
   		</select>
   	</form>

    <form>
   		<label>Fuel Type</label>
   		<select class="form-control">
   			<option></option>
   		</select>
   	</form>
   	</div>
   	<div class="col-lg-8 col-xs-8">

   		<!-- Picture of selected car -->
   		<img id = "" class="" src="images/whiteCar.png">

   		<!-- Results for selected car -->
   		<div class="resultsContainer col-lg-9 col-lg-offset-2 col-xs-9 col-xs-offset-2">
		  <table class="table table-hover">
		    <thead>
		      <tr>
		        <th colspan="3" class="text-center">Fuel Consumption</th>
		        <th colspan="2" class="text-center">CO2 Emissions</th>
		      </tr>
		      <tr>
		      	<th>City (L/100 km)</th>
		      	<th>Highway (L/100 km)</th>
		      	<th>Combined (L/100 km)</th>
		      	<th>Combined (mpg)</th>
		      	<th>Combined (g/km)</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr class="text-center">
		        <td>-</td>
		        <td>-</td>
		        <td>-</td>
		        <td>-</td>
		        <td>-</td>	        
		    </tbody>
		  </table>
   		</div>


   	</div>  	   	  	   	  	
</div>

<div id = "secondCar" class="col-lg-6 col-xs-12 fill pagination-centered">
	<h2> {{carMode}} 2 </h2>
	<div class="col-lg-4 col-xs-4">
    <form>
        <label>Car Year</label>
        <select class="form-control">
            <option></option>
            <option value="1995">1995</option>
            <option value="1996">1996</option>
            <option value="1997">1997</option>
            <option value="1998">1998</option>
            <option value="1999">1999</option>
            <option value="2000">2000</option>
            <option value="2001">2001</option>
            <option value="2002">2002</option>
            <option value="2003">2003</option>
            <option value="2004">2004</option>
            <option value="2005">2005</option>
            <option value="2006">2006</option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
        </select>
    </form>

   	<form>
   		<label>Car Manufacturer</label>
   		<select class="form-control">
   			<option></option>
   		</select>
   	</form>

   	<form>
   		<label>Car Model</label>
   		<select class="form-control">
   			<option></option>
   		</select>
   	</form>

   	<form>
   		<label>Car Vehicle</label>
   		<select class="form-control">
   			<option></option>
   		</select>
   	</form>

    <form>
   		<label>Engine Size</label>
   		<select class="form-control">
   			<option></option>
   		</select>
   	</form>  	

    <form>
   		<label>Cylinders</label>
   		<select class="form-control">
   			<option></option>
   		</select>
   	</form>

    <form>
   		<label>Transmission</label>
   		<select class="form-control">
   			<option></option>
   		</select>
   	</form>

    <form>
   		<label>Fuel Type</label>
   		<select class="form-control">
   			<option></option>
   		</select>
   	</form>
   	</div>
   	<div class="col-lg-8 col-xs-8">

   		<!-- Picture of selected car -->
   		<img id = "" class="" src="images/whiteCar.png">

   		<!-- Results for selected car -->
   		<div class="resultsContainer col-lg-9 col-lg-offset-2 col-xs-9 col-xs-offset-2">
		  <table class="table table-hover">
		    <thead>
		      <tr>
		        <th colspan="3" class="text-center">Fuel Consumption</th>
		        <th colspan="2" class="text-center">CO2 Emissions</th>
		      </tr>
		      <tr>
		      	<th>City (L/100 km)</th>
		      	<th>Highway (L/100 km)</th>
		      	<th>Combined (L/100 km)</th>
		      	<th>Combined (mpg)</th>
		      	<th>Combined (g/km)</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr class="text-center">
		        <td>-</td>
		        <td>-</td>
		        <td>-</td>
		        <td>-</td>
		        <td>-</td>	        
		    </tbody>
		  </table>
   		</div>

   		
   	</div>  	   	  	   	  	
</div>
