<!-- Page Content -->
<!-- Call-to-action -->

<div class="row">
    <div class="text-center fade-in-b">
        <img id="logo" class="img-responsive img-center" src="../public/images/clearLogo.png" alt="">
        <h1>BIG IMPORTANT CALL-TO-ACTION</h1>
        <h4>Who are we, how can we help you</h4>
    </div>
</div>
<div class="container">
<hr>
<!-- Trucking Compnaies Information -->

    <div class="row">
        <div class="callout-dark text-center fade-in-b">
            
            <div class="well">
                <h1>Trucking Companies</h1>
                <img class="img-responsive img-center" src="../public/images/image8.png" alt="">
                <h4>Learn how Last Mile can save your delivery company up to 30% in transporation costs to major Canadian cities.</h4>
                <!-- Collapse section -->
                <button class="btn btn-info" data-toggle="collapse" data-target="#truckCompany">Learn More</button>
                <div id="truckCompany" class="collapse">
                    <h2>The advantage </h2>
                </div>
            </div>
            
        </div>
    </div>
    <hr>
    <!-- Independant Driver Information -->
    <div class="row">
        <div class="callout-red text-center fade-in-b">
            <div class="well">
                <h1>Independant Drivers</h1>
                <img class="img-responsive img-center" src="../public/images/image5.png" alt="">
                <h4>Learn how you can earn money with Last Mile as an independant driver</h4>
                <!-- Collapse section -->
                <button class="btn btn-danger" data-toggle="collapse" data-target="#independantDrivers">Learn More</button>
                <div id="independantDrivers" class="collapse">
                    <h2>The advantage </h2>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Business Owner Information -->
    <div class="row">
        <div class="callout-blue text-center fade-in-b">
            
            <div class="well">
                <h1>Business Owners</h1>
                <img class="img-responsive img-center" src="../public/images/image3.png" alt="">
                <h4>Learn how you can earn money with Last Mile as an independant driver</h4>
                <!-- Collapse section -->
                <button class="btn btn-primary" data-toggle="collapse" data-target="#businessOwners">Learn More</button>
                <div id="businessOwners" class="collapse">
                    <h2>The advantage </h2>
                </div>
            </div>
            
        </div>
    </div>

<hr>
<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Last Mile 2015</p>
        </div>
    </div>
</footer>
</div>
</div>