<div class="jumbotron" id="home-header">
    <div class="container bg"></div>
    <div class="container text-center">
        <h1>Canadian Car Consumption</h1>
        
    </div>
</div>

<!-- First call to action -->
<div class="jumbotron vertical-center" id="call-to-action">
    <div class="container text-center">
    	<p>An analysis tool for the fuel consumption statistics of Canadian cars. Find out how fuel efficient your car is, and how it affects the environment.</p>
    	<a class="btn btn-lg btn-primary" ng-href = "#search">Get Started</a>
	</div>
</div>

<!-- Website information -->
<div class="row" id="website-info">
   <div class="col-sm-12 col-md-6">
      <div class="row text-center">
         <img id = "caption-pic" class="img-circle" src="images/gaspic.png">
      </div>
      <div class="caption text-center">
        <h3>What is this website?</h3>
        <p>Statistics Canada releases
        <a href="http://open.canada.ca/data/en/dataset/98f1a129-f628-4ce4-b24d-6f16bf24dd64" target="_blank">Canadian Fuel Consumption Ratings</a> 
        every year, under the
        <a href="http://open.canada.ca/en/open-government-licence-canada" target="_blank">Open Government Licence - Canada</a>
        . This website allows you to search for any Canadian car between the years of 1995-2015, and obtain federal regulated fuel consumptions stats.</p>
      </div>
   </div>
   <div class="col-sm-12 col-md-6">
      <div class="row text-center">
         <img id = "caption-pic" class="img-circle" src="images/pump.jpg">
      </div>
      <div class="caption text-center">
         <h3>How can this website save you money?</h3>
         <large>Use the car search tool to compare potential vehicle purchases, and analyze the annual cost of these vehicles based on how far you drive per year and where you drive. If you are a resident of British Colcumbia or Quebec, you can use the tool to calculate your annual carbon tax costs as well.</large>
      </div>
  </div>
</div>