<div id="singleCar" class="col-lg-12 col-xs-12 fill pagination-centered">

    <!-- Dropdown selection menus -->
    <div class="row">
        <h3> Step 1: Use the following dropdown menus to identify your vehicle </h3>
        <br />
        <div class="col-lg-4 col-lg-offset-1 col-xs-8 col-xs-offset-2">
            <img id="" class="img-responsive img-rounded" src="images/whiteCar.png">
        </div>
        <div class="col-lg-4 col-lg-offset-2 col-xs-8 col-xs-offset-2">
            <form>
                <label>Car Year</label>
                <select class="form-control" ng-model="year" ng-change="getCars(year)">
                    <option></option>
                    <option value="1995">1995</option>
                    <option value="1996">1996</option>
                    <option value="1997">1997</option>
                    <option value="1998">1998</option>
                    <option value="1999">1999</option>
                    <option value="2000">2000</option>
                    <option value="2001">2001</option>
                    <option value="2002">2002</option>
                    <option value="2003">2003</option>
                    <option value="2004">2004</option>
                    <option value="2005">2005</option>
                    <option value="2006">2006</option>
                    <option value="2007">2007</option>
                    <option value="2008">2008</option>
                    <option value="2009">2009</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                </select>
            </form>

            <form>
                <label>Car Manufacturer</label>
                <select class="form-control" ng-model="carMake" ng-options="car.make for car in cars | unique: 'make'" ng-change="testMake(carMake)">
                    <option></option>
                </select>
            </form>

            <form>
                <label>Car Model</label>
                <select class="form-control" ng-model="carModel" ng-options="car.model for car in cars | filterBy:['make']: carMake.make | unique: 'model'">
                    <option></option>
                </select>
            </form>

            <form>
                <label>Vehicle Class</label>
                <select class="form-control" ng-model="vehicleClass" ng-options="car.vehicle_class group by car.model for car in cars | filterBy:['make']: carMake.make | filterBy:['model']: carModel.model | unique: 'vehicle_class'">
                    <option></option>
                </select>
            </form>

            <a class="btn btn-lg btn-info" ng-disabled="!vehicleClass" ng-click="generateCar(year,carMake, carModel, vehicleClass)">Select Car</a>
            </br>
        </div>
    </div>
    <hr />

    <!-- Specify type of chose vehicle -->
    <div class="row resultsAnimate" ng-if="resultsBool">
        <h3> Step 2: Choose your {{carString}}</h3>
        <br />
        <div class="col-lg-5 col-lg-offset-1 col-xs-8 col-xs-offset-2">

            <table class="table table-striped table-bordered table-hover sameHeight">
                <thead>
                    <tr>
                        <th>Engine Size</th>
                        <th>Cylinders</th>
                        <th>Transmission</th>
                        <th>Fuel Type</th>
                    </tr>
                </thead>
                <tbody data-link="row" class="rowlink">
                    <tr ng-repeat="selectedCar in selectedCars" ng-class="{'selected': $index == selectedRow}" ng-click="setClickedRow($index)">
                        <!--<td><a ng-href="#/carDetails/{{selectedCars[$index]._id}}">{{selectedCar.engine_size}}</a></td>-->
                        <td>{{selectedCar.engine_size}}</td>
                        <td>{{selectedCar.cylinders}}</td>
                        <td>{{selectedCar.transmission}}</td>
                        <td id="fuel">{{selectedCar.fuel_type}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-lg-offset-2 col-xs-8 col-xs-offset-2">
            <div class="container-fluid lol-container">
                <img id="lol" class="img-responsive img-rounded" src="">
            </div>
        </div>
    </div>

    <!-- Results section - Fuel Consumption and Emissions -->
    <div class="row resultsAnimate" ng-if="resultsBool">
        <div class="col-lg-5">
            <h2>Fuel Consumption</h2><span class="glyphicon glyphicon-tint"></span>
            <hr />
            <h4>City (L/100 KM)</h4>
            <progressbar max="fcMax" value="inspectCar.fc_city"><span style="color:white; white-space:nowrap;">{{inspectCar.fc_city}}</span></progressbar>
            <h4>Highway (L/100 KM)</h4>
            <progressbar max="fcMax" value="inspectCar.fc_hwy"><span style="color:white; white-space:nowrap;">{{inspectCar.fc_hwy}}</span></progressbar>
            <h4>Combined (L/100 KM)</h4>
            <progressbar max="fcMax" value="inspectCar.fc_comb"><span style="color:white; white-space:nowrap;">{{inspectCar.fc_hwy}}</span></progressbar>

        </div>

        <div class="col-lg-5 col-lg-offset-2">
            <h2>Emissions</h2><span class="glyphicon glyphicon-tree-deciduous"></span>
            <hr />
            <h4>Combined (mpg)</h4>
            <progressbar max="fcMaxMpg" value="inspectCar.fc_comb_mpg"><span style="color:white; white-space:nowrap;">{{inspectCar.fc_comb_mpg}}</span></progressbar>
            <h4>Combined (g/KM)</h4>
            <progressbar max="emissionsMax" value="inspectCar.emissions"><span style="color:white; white-space:nowrap;">{{inspectCar.emissions}}</span></progressbar>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-lg-offset-2">
                <div class="form-group"
                <h3>Total gas used per year:</h3>
                <div>
            </div>
            </div>
        </div>
    </div>
</div>